* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: 0;
    outline-offset: 0;
}

main {
    display: flex;
}

.txt {
    font-size: 25px;
    margin-left: 50px;
}

form {
    margin-left: 150px;
}

input {
    margin: 15px 0;
    padding: 0 5px;
    font-size: 20px;
}

.error {
    border: 3px solid red;
}