* {
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

header {
    height: 150px;
    background-color: DimGray;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    height: 35px;
    width: 120px;
    border-radius: 9px;
    font-size: 17px;
}

.btn:hover {
    background-color: DimGray;
}

.hidden {
    display: none;
}

.cart {
    display: flex;
}

.search-form {
    border-bottom: 3px solid #fff;
    margin-right: 20px;
}

.search-field {
    background-color: DimGray;
    border: none;
    height: 30px;
    font-size: 25px;
    color: #fff;
    width: 200px;
    padding: 0 7px;
}

.btn-search {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.btn-search:hover .fa-magnifying-glass {
    transform: scale(1.2);
}

.fa-magnifying-glass {
    color: #fff;
    font-size: 25px;
}

.cart-block {
    min-width: 340px;
    min-height: 100px;
    position: absolute;
    border-radius: 9px;
    border: 1px solid DimGray;
    background-color: #fff;
    transform: translate(15px, 45px);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    z-index: 10;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart__img img {
    width: 100px;
}

.cart__info {
    width: 100%;
    margin: 0 10px;
}

.cart__title {
    margin-bottom: 10px;
}

.cart__right {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-price {
    margin: 5px 0;
    font-weight: bold;
}

.cart__price {
    font-weight: bold;
    margin: 10px 0;
}

.btn-x {
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.cart-change {
    display: flex;
}

.btn-change {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 1px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    margin-top: 20px;
    padding: 20px 0;
}

.product__item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item__header {
    text-align: center;
    margin-bottom: 15px;
}

.item__img {
    height: 420px;
    display: flex;
    align-items: center;
}

.item__img img {
    width: 520px;
    display: block;
}

.item__price {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: center;
}

.item__button {
    transform: translateX(207px);
}

.error {
    color: red;
    font-size: 40px;
    text-align: center;
}